.footer {
  background: #000;
  height: 50px;
  padding: 0 10px;
  font-size: 0.8em;
  clear: both;
  box-shadow: 0 0 3px #000;
  text-align: center;
  -webkit-box-shadow: 0 0 3px #000;
  -moz-box-shadow: 0 0 3px #000;
  -o-box-shadow: 0 0 3px #000;

  .logo-ix {
    background: url(active_admin/ixmedia.png) no-repeat;
    display: inline-block;
    height: 25px;
    margin: 13px 0 0 130px;
    width: 125px;
  }

  p {
    color: #fff;
    display: inline-block;
    float: right;
    margin-top: 20px;
    padding-top: 10px;

    a {
      color: #eee;
    }
  }
}

// -------------------------------------- Index Footer (Under Table)
.pagination_information, .download_links { padding-top: 5px; font-size: 0.85em; }

.index_content { clear: both; }
